main:
   debug: 0
   type: {{ openxpki_database_type }}
   name: {{ openxpki_database_name }}
   host: {{ openxpki_database_host }}
   port: {{ openxpki_database_port }}
   user: {{ openxpki_database_user }}
   passwd: {{ openxpki_database_password }}
